<html>
<body>
<!-- As a heading -->
<!-- <nav class="navbar">
<div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">. THE WEATHER</span>
  </div>
</nav> -->
<!-- <div class="col-2">
<p class="display-6" style="font-weight: 500;">. THE WEATHER</p>
</div> -->
<!-- <div class="major">
  jfjfid
</div>
<div class="details">
</div> -->
<div class="row">
  <div class="col-7">
    <h1 class="display-1">. THE WEATHER</h1>
    <!-- <p class="display-1 ms-5" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #ffffff;">London</p> -->
  </div>
  <div class="col-5">details
    <select class="form-select" aria-label="Default select example">
      <option selected>Select Location...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <p class="display-1" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #ffffff;">London</p>
    <p class="display-2" style="color: #ffffff">16°</p>
  </div>
</div>
</body>
</html>
<router-outlet></router-outlet>
