<html>
<body>
<!-- As a heading -->
<!-- <nav class="navbar">
<div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">. THE WEATHER</span>
  </div>
</nav> -->
<div class="col-2">
<p class="display-6" style="font-weight: 500;">. THE WEATHER</p>
</div>
<!-- <div class="major">
  jfjfid
</div>
<div class="details">
</div> -->
<div class="row">
  <div class="col-7">
    <h1 class="display-1 ms-5" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #ffffff; font-size: 150px; float: left;">16°</h1>
    <p style="float: right;">London</p>
  </div>
  <div class="col-5">details</div>
</div>
</body>
</html>
<router-outlet></router-outlet>
